@import url(https://fonts.googleapis.com/css?family=Michroma&display=swap);

body{
    background: radial-gradient( #0a462a 0%, #99d1ba 100%);
    font-family: Michroma, serif;
}
   
body a{
    text-decoration: none;
    color: black;
}   

p{
    color: antiquewhite;
}


.backcolor{
    background-color: rgb(9, 56, 47);
}

.nav-link{
    color: antiquewhite;
}

.navbar-nav .nav-link.active{
    color: rgb(230, 178, 110);
}

.nav-link:hover{
    color: rgb(230, 178, 110);
}

.navbar-toggler{
    background-color: antiquewhite;
}

.sidebar {
    background-color: antiquewhite ;
    
}
.sidebar p{
    color: black;
}
.sidebar a{
    color: rgb(9, 56, 47);;
}
.card{
    background-color: antiquewhite ;
    
}
.card-text {
    color: black;
}

.btn-primary{
    background-color: rgb(9, 56, 47);
    color: antiquewhite;
    border: none;
}
.btn-primary:hover{
    background-color: rgb(14, 136, 114);

}
.slide-text,
.footer-text{
    margin: auto auto;
}

footer{
    border-style:dotted;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-width: 5px;

}
.text-center svg{
    margin-inline: 1em;
}

.call-anim{
    animation: myAnim 2s ease 0s infinite normal forwards;
}

.btn-outline-my{
    color: antiquewhite;
    border-style: solid;
    border-color: antiquewhite;
}
.btn-outline-my:hover{
    background-color: antiquewhite;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}